/*決まり事


*/

/* CSSのコメント記述法 */
body {  
/*
background: url(../images/first.bmp) no-repeat left top;
width: 140px;
height: 36px;*/
background: url(../images/first.bmp) repeat;
display: block;
color: #666666;/*色を灰に指定*/
font-size: 15px;/*フォントサイズ指定*/
line-height: 100%;/**/
text-align: center;
}
article {
	text-align: left;
}
.titile {
	color: #333333;
}
.headline{
	size = "1";
}
b {
	font-size: 20px;
	color: #000000;	
}
/*リンクの設定*/
a{
font-size: 120%;
font-weight: bold;
color: #666666;
text-decoration: none;
}
/*
p {
font-size: 120%;
font-weight: bold;
color: #666666;
text-decoration: none;
}*/
div#top {
	font-size: 120%;
font-weight: bold;
color: #666666;
text-decoration: none;
}

div#status {

width: 500px;
margin-top:20px;
margin-right:auto;
margin-left:auto;
}
