/*決まり事


*/

/* CSSのコメント記述法 */
body {  
/*
background: url(../images/first.bmp) no-repeat left top;
width: 140px;
height: 36px;*/
background: url(../images/first.bmp) repeat;
display: block;
color: #666666;/*色を灰に指定*/
font-size: 15px;/*フォントサイズ指定*/
line-height: 100%;/**/
text-align: center;
}
article {
	text-align: left;
}

/*borderで枠を付ける */
.articles {
	border:#000000 double 5px;;
}



/* これと同様に変更すればリストの画像変更は完璧 backgroundのオプションで位置調整*/
/*list-style-image: urlではなくbackgroundのほうが調節が効く*/
.trainingmenu , .trainingmenu ul {
	margin:0; padding:0;
}  
.trainingmenu li {
	list-style:none;
	padding-left:25px;  
    background:url('../images/ul-test.gif') left top no-repeat;  
    line-height:26px;
}  
.trainingmenu li ul li {
	background-image:url('../images/ul-test2.gif');
}  

/*要削除！！！！！！！！　見やすくするため全体に適応 */





b {
	font-size: 20px;
	color: #000000;	
}
/*リンクの設定*/
a{
font-size: 120%;
font-weight: bold;
color: #666666;
text-decoration: none;
}
/*
p {
font-size: 120%;
font-weight: bold;
color: #666666;
text-decoration: none;
}*/
div#top {
	font-size: 120%;
font-weight: bold;
color: #666666;
text-decoration: none;
}

.status {

width: 500px;
margin-top:20px;
margin-right:auto;
margin-left:auto;
 border-collapse: collapse;
border:1px #666666 solid;
border-collapse: collapse;
}
